body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: honeydew;
  color: seagreen;
}

#app {
  width: 50%;
  margin: auto;
  text-align: center;
}

ul {
  padding-left: 0px;
}

.groceries {
  margin: 10px;
  list-style-type: none;
}